<section ng-init="fnInitEditBanner()" class="col-md-12 panel panel-default">
    <div class="col-md-12 panel-body">
        <button class="btn btn-primary pull-right" type="button" ng-click="fnOpenAddBlogModel('lg')">Add Banner</button>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-if="isBannerDataLoaded" class="text-center"><td colspan="4"><img src="img/loading.gif"/></td></tr>
            <tr ng-if="!isBannerDataLoaded" ng-repeat="bannerItem in bannerArr">
                <td>{{$index+1}}</td>
                <td>{{bannerItem.clickTitle}}</td>
                <td>{{bannerItem.title}}</td>
                <td><a href="javascript:void(0);" ng-click="fnEditBanner(bannerItem)">
                    <i class="fa fa-pencil-square-o fa-lg"></i></a>
                    <a href="javascript:void(0);" ng-click="fnDeleteBanner(bannerItem.id,bannerItem.image)">
                    <i class="fa fa-trash-o fa-lg"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>